
/* css */

div{ 
    position: absolute; 
}
.hair {
    background-color: rgb(59, 43, 37);
}

.skin {
    background-color: rgb(244, 207, 183); 
}

.mouth {
    background-color: rgb(218, 128, 124)
}

.lefteyewhite{
    background-color: rgb(255, 255, 255);
}

.pupils{
    background-color: #64471B;
}

.line{
    background-color: rgb(239, 155, 146); 
}

.nose{ 
    background-color: #E4AE95;
}

.eyebrows{
    background-color: rgb(59, 43, 37);
}

.face {
    width: 400px; 
    height: 475px; 
    left: 100px;
    border-radius: 50%; 
    z-index: 1
}

.bang{ 
    z-index: 2; 
    width: 400px;
    height: 300px; 
    border-radius: 50% 0% 0% 50%;
    left: -150px; 
    top: -80px; 
    transform: rotate(45deg);
    clip-path: ellipse(24% 50% at 100% 50%)
}

.bang2{
    z-index: 2; 
    width: 400px;
    height: 300px; 
    border-radius: 50% 0% 0% 50%;
    left: 326px; 
    top: -85px; 
    transform: rotate(134deg);
    clip-path: ellipse(24% 50% at 100% 50%)

}

.longhair{
    width: 400px; 
    height: 750px; 
    top: 100px;
    left: 100px;
    border-radius: 100%; 
}


.lips{
    top: 460px;
    left: 197px;
    transform: translate(-50%, -50%);
    height: 80px;
    width: 200px;
    border-radius: 150px 150px 0 0;
    transform: rotate(180deg);
    z-index: 3; 
}   

.line{
    width: 0px;
    height: 170px;
    left: 298px; 
    top: 409px; 
    border: 1px solid rgb(239, 155, 146); 
    z-index: 3; 
    transform: rotate(90deg);
}

.eyewhiteL{
    width: 200px;
    height: 70px; 
    left: 125px; 
    top: 250px; 
    z-index: 3;
    clip-path: ellipse(23% 41% at 47% 50%);
}

.eyewhiteR{ 
    width: 200px;
    height: 67px; 
    top: 250px;
    left: 276px; 
    clip-path: ellipse(23% 41% at 47% 50%);
    z-index: 3;
}

.pupilL{
    width: 50px;
    height: 39px;
    left: 195px; 
    top: 265px;
    clip-path: ellipse(25% 48% at 50% 50%);
    transform: rotate(90deg);
    z-index: 4;
}

.pupilR{ 
    width: 50px;
    height: 39px;
    left: 346px; 
    top: 265px;
    clip-path: ellipse(25% 48% at 50% 50%);
    transform: rotate(90deg);
    z-index: 4;
}

.triangle{
    clip-path: polygon(50% 30%, 14% 100%, 85% 100%);
    width: 115px;
    height: 232px;
    left: 235px;
    top: 200px;
    z-index: 4;
}

.eyebrowL{ 
    width: 136px;
    height: 23px;
    left: 330px;
    top: 222px;
    clip-path: polygon(0 31%, 41% 30%, 66% 100%, 0% 100%);
    z-index: 4; 
}

.eyebrowR{
    width: 136px;
    height: 23px;
    left: 120px; 
    top: 222px;
    clip-path: polygon(100% 30%, 56% 30%, 38% 99%, 100% 100%);
    z-index: 4;
}

.coordinates-position{ 
    background-color: pink; 
    color: black; 
    font: 12px; 

}

.box {
    width: 2000px;
    height: 900px;
    color: black;
    font:
      16px "Zilla",
      "Open Sans",
      "Helvetica",
      "Arial",
      sans-serif;
    z-index: 4; 
  }
  